# Rust
/target/
**/*.rs.bk
target/

# OS
.DS_Store
.AppleDouble
.LSOverride

# IDE
.idea/
.vscode/
*.swp
*.swo

# Project specific
/stm32-emulator/
/stm32f1xx-hal/
/stm32f4xx-hal/
/*.bin
/*.elf

# Logs
*.log
